In [1]:
import pandas as pd

# Cargar dataset desde tu carpeta local
file_path = r"C:\Users\Oscar Ferreira\OneDrive - AUTO LINEAS AMERICA SA DE CV\Escritorio\MCD\4 - APRENDIZAJE AUT\insurance.csv"
df = pd.read_csv(file_path)

# Selección de variables de interés
vars_interes = ['age', 'bmi', 'children', 'charges', 'smoker']
df = df[vars_interes]

print(df.head())
print(df.info())
df

   age     bmi  children      charges smoker
0   19  27.900         0  16884.92400    yes
1   18  33.770         1   1725.55230     no
2   28  33.000         3   4449.46200     no
3   33  22.705         0  21984.47061     no
4   32  28.880         0   3866.85520     no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   bmi       1338 non-null   float64
 2   children  1338 non-null   int64
 3   charges   1338 non-null   float64
 4   smoker    1338 non-null   object
dtypes: float64(2), int64(2), object(1)
memory usage: 52.4+ KB
None

      age     bmi  children      charges smoker
0      19  27.900         0  16884.92400    yes
1      18  33.770         1   1725.55230     no
2      28  33.000         3   4449.46200     no
3      33  22.705         0  21984.47061     no
4      32  28.880         0   3866.85520     no
...   ...     ...       ...          ...    ...
1333   50  30.970         3  10600.54830     no
1334   18  31.920         0   2205.98080     no
1335   18  36.850         0   1629.83350     no
1336   21  25.800         0   2007.94500     no
1337   61  29.070         0  29141.36030    yes

[1338 rows x 5 columns]